body {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0px;
}

.header {
  width: 100%;
  height: 10vh;
  /* padding: 20px; */
  background-color: grey;
  margin-bottom: 10px;
}
.footer {
  width: 100%;
  height: 10vh;
  /* padding: 20px; */
  background-color: grey;
  /* margin-bottom: 10px; */
}
.content-container {
  margin-bottom: 10px;
  display: flex;
  height: 100%;
  width: 100%;
}

.left-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.a-container {
  width: 100%;
  height: 100%;
  background-color: red;
}
.b-container {
  width: 100%;
  height: 100%;
  background-color: orange;
}

.c-container {
  background-color: yellow;
  width: 400px;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }
  .left-content-container {
    display: flex;
    flex-direction: column;
    height: 66%;
  }
  
  .c-container {
    background-color: yellow;
    width: 100%;
    height: 33%;
  }
}
