body {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin: 0px;
}

.header {
  width: 100%;
  height: 10vh;
  /* padding: 20px; */
  background-color: grey;
  margin-bottom: 10px;
}
.footer {
  width: 100%;
  height: 10vh;
  /* padding: 20px; */
  background-color: grey;
  /* margin-bottom: 10px; */
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.left-container {
  display: flex;
  flex-direction: row-reverse;
  width: 75%;
}
.b-container {
  width: 34%;
  height: 100%;
  background-color: green;
}
.a-container {
  width: 66%;
  height: 100%;
  background-color: lightgreen;
}
.c-container {
  width: 25%;
  height: 100%;
  background-color: yellow;
}

@media screen and (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }
  .left-container {
    width: 100%;
    height: 66%;
    flex-direction: column;
  }
  .b-container {
    width: 100%;
    height: 100%;
    background-color: green;
  }
  .a-container {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
  }
  .c-container {
    width: 100%;
    height: 33%;
    background-color: yellow;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .content-container {
    flex-direction: column;
  }
  .left-container{
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 65%;
    width: 100vw;
  }
  .b-container {
    width: 50vw;
    height: 54%;
    align-self: flex-start;
    background-color: green;
  }
  .a-container {
    width: 100vw;
    height: 100%;
    background-color: lightgreen;
  }
.c-container{
  align-self: flex-end;
  width: 50%;
  height: 35%;
}

}
